/*!-----------------------------------------------------------------
  Name: PiliPala - WindVane
  Version: 0.0.1
  Author: PseudoJunZi
  GitHub: https://github.com/PseudoJunZi/WindVane
  GitHub Pages: https://pseudojunzi.github.io
  ZhiHu: https://zhihu.com/people/hypocritez
  cnblogs: https://cnblogs.com/PseudoJunZi
  License: MIT
  Copyright 2019.
-------------------------------------------------------------------*/
@charset "UTF-8";
/*------------------------------------------------------------------
  [Typography]
  
  Headings: Segoe UI,sans-serif;
  Body: Microsoft Yahei,Segoe UI, Cascadia-code;

  Notes: 
 -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]

  Main 1:    #e08821
  Main 2:    #39a228
  Main 3:    #2953b1
  Main 4:    #7c34a8
  Main 5:    #c82e2e

  Light 1:    
  Light 2:
  Light 3:
  Light 4:
  Light 5:

  Dark 1:    #0e0e0e
  Dark 2:    #181818
  Dark 3:    #222222
  Dark 4:    #2d2d2d
  Dark 5:    #2c2c32

  Gray 1:    #FAFAFA
  Gray 2:    #f7f7f7
  Gray 3:    whitesmoke
  Gray 4:    #f2f2f2
  Gray 5:    

  Bootstrap Primary:  #0275D8
  Bootstrap Success:  #5CB85C
  Bootstrap Info:     #5BC0DE
  Bootstrap Warning:  #F0AD4E
  Bootstrap Danger:   #D9534F
 -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Table of contents]
  
  0. 
  1. Base
  2. Navbar
 -------------------------------------------------------------------*/
.bg-dark {
    background-color: #2d2d32 !important;
}


/*------------------------------------------------------------------

  Base

 -------------------------------------------------------------------*/

/*------------------------------------------------------------------

  Navbar
    - navbar-brand

 -------------------------------------------------------------------*/
.navbar .navbar-brand {
    font-size: 20px;
    letter-spacing: -0.04rem;
    font-weight: bolder;
}

.brand-gradient {
    background: linear-gradient(to right, #f1c477 0%, #fff2ab 10%, #ffdd93 30%, #f1c477 50%, #e1ab5c 60%, #d59648 80%, #cd8539 100%) !important;
    background-attachment: local !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
}
