<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 噼里啪啦</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">噼里啪啦</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">首页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>


    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>


    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h2>主站</h2>
                <p>
                    “风向标”主站系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44344" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>API系统</h2>
                <p>
                    “风向标”API系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44355" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>身份认证系统</h2>
                <p>
                    “风向标”身份认证系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44366" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>支付系统</h2>
                <p>
                    “风向标”支付系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44377" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>社交系统</h2>
                <p>
                    “风向标”社交系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44301" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>聊天系统</h2>
                <p>
                    “风向标”聊天系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44302" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>博客系统</h2>
                <p>
                    “风向标”博客系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44303" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>论坛系统</h2>
                <p>
                    “风向标”论坛系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44304" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>音乐系统</h2>
                <p>
                    “风向标”音乐系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44305" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>视频系统</h2>
                <p>
                    “风向标”视频系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44306" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>地图系统</h2>
                <p>
                    “风向标”地图系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44307" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>旅游系统</h2>
                <p>
                    “风向标”旅游系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44308" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>物流系统</h2>
                <p>
                    “风向标”物流系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44309" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>医疗系统</h2>
                <p>
                    “风向标”医疗系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44310" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>酒店系统</h2>
                <p>
                    “风向标”酒店系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44311" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>教育系统</h2>
                <p>
                    “风向标”教育系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44312" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>运动系统</h2>
                <p>
                    “风向标”运动系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44313" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>电商系统</h2>
                <p>
                    “风向标”电商系统
                </p>
                <p>
                    <a class="btn btn-secondary" role="button" asp-protocol="https" asp-host="localhost:44314" asp-controller="Home" asp-action="Index">
                        View details &raquo;
                    </a>
                </p>
            </div>
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - 噼里啪啦 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
